.break-time {
    width: 60px;
    height: 60px;
    background: o;
    background: #cdcdcd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 2px;
}

@media screen and (max-width: 600px) {
    .break-time {
        width: 44px;
        height: 44px;
    }
    .btn-common {
        font-size: 11px !important;
    }
}